@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0.5px solid rgba(16, 16, 16, 0.738);
    border-radius: 10px;
    width: 50%;
}

.message {
    width: fit-content;
    max-width: 500px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: auto;
    line-height: 18px;
    margin-top: 6.5px;
    padding: 8px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.message2 {
    width: fit-content;
    max-width: 500px;
    background-color: #ffffff;
    border: 0.2px solid rgb(123, 123, 123);
    color: #1d1d1d;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 8px;
    line-height: 18px;
    margin-top: 6.5px;
    padding: 8px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.message2 .sender{
    color: teal;
}

.message:first-child {
    margin-top: 6px;
}

.message2:last-child {
    margin-bottom: 6px;
}

.sender {
    font-weight: bold;
    font-size: 12px;
}

.content {
    margin-top: 1px;
    font-size: 12px;
}

.message.show {
    opacity: 1;
    transform: translateY(0);
}

.message2.show {
    opacity: 1;
    transform: translateY(0);
}


