@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}

body{
    max-height: 100vh;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
}

body.show {
opacity: 1;
} 

ul{
    list-style: none;
}

li{
    margin-top: 15px;
}

h1{
    font-size: 20px;
    margin-bottom: 20px;
}

p{
    font-weight: normal;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: teal;
    font-weight: normal;
}

a:hover{
    color: rgb(0, 80, 80);
}

.container{
    position: absolute;
    overflow: hidden;
}

.container.active{
    transition: transform 1s ease-in-out; 
    transform: translateX(300px)

}

.Ncontainer{
    position: absolute;
    overflow: hidden;
}

.Ncontainer.active{
    transition: transform 1s ease-in-out; 
    transform: translateX(300px)
}

.background-container {
    background-image: url('images/train2.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    overflow: hidden; 
}

.background-container.fade-out {
    opacity: 0;
    transition: opacity 5s ease-in-out; 
}

.P-background-container {
    background-image: url('images/room.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    overflow: hidden; 
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
}

img {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    overflow: hidden; 
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
}

.P-background-container.show {
    opacity: 1;
} 

.S-background-container {
    background-image: url('images/room.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    overflow: hidden; 
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
}

.S-background-container.show {
    opacity: 1;
} 

.background-container.student {
    position: absolute;
    bottom: -8px;
    right: 0px;
    cursor: pointer;
}

.background-container .teacher {
    position: absolute;
    bottom: -14px;
    left: 60px;
    cursor: pointer;
}

.student {
    position: absolute;
    bottom: -8px;
    right: 0px;
}

.professor{
    position: absolute;
    bottom: -14px;
    left: 100px;
}

.professor img {
    width: auto; /* Adjust the width as needed */
    height: 500px;
    cursor: default;
}

.student img {
    width: auto; /* Adjust the width as needed */
    height: 400px;
    transition: transform 0.3s ease; /* Add a smooth transition effect */

}

.teacher img {
    width: auto; /* Adjust the width as needed */
    height: 400px;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.student:hover img,
.teacher:hover img {
    transform: scale(1.03); /* Increase the scale factor as needed */
}

.intro-box{
    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 2 seconds */
}

.intro-box2{
    position: absolute;
    top: 70%;
    right: 25%;
    left: 25%;
    width: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 2 seconds */
}

.P-intro-box {
    position: fixed; /* Change to fixed position to cover the entire viewport */
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; 
    height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    opacity: 0;
    display: flex;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
}

.S-intro-box {
    position: fixed; /* Change to fixed position to cover the entire viewport */
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; 
    height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    opacity: 0;
    display: flex;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
}

.slide {
    flex: 0 0 100%;
    padding: 30% 20px;
    box-sizing: border-box;
    text-align: center;
}

.slide img{
    padding-top: 20px;
    width: auto;
    height: auto;
}

.slide h1{
    font-size: 23px;
}

button {
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: teal;
    border: none;
    width: 100px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

button:hover{
    background-color: rgb(0, 80, 80);
}


/* Add this to your existing CSS file or create a new one */
.navbar {
    position: absolute;
    background: url('menu2.png');
    color: white;
    top: 0px;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;

}

.navbar.active{
    background: url('close2.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.Nnavbar {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 0px;
    padding: 30px 35px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}
.fas{
    color: black;
    font-size: 25px;
    animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
    cursor: pointer;
}

.fas.active::before {
    content: "\f00d"; /* Unicode for the "times" icon */
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    cursor: pointer;
}

.Nnavbar.active{
    background: url('close2.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.professor{
    position: absolute;
    bottom: -14px;
    left: 100px;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.menu ul{
    position: relative;
    padding: 20px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.menu ul li a:hover{
    color:lightblue
}

.Nmenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.Nmenu.active{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    opacity: 1; 
    visibility: visible;
}

.Nmenu ul{
    position: relative;
    padding: 10px 20px 0px 35px;
    margin-bottom: auto;
    /* margin-top: 80px; */
}
.Nmenu ul li{
    list-style: none;
}
.Nmenu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.Nmenu ul li a:hover{
    color:teal
}

.Nmenu h1{
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

.Nmenu p{
    font-weight: 600;
    font-size: 17px;
    color: teal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* message section test */
.unique-page .S-intro-box {
    position: fixed; /* Change to fixed position to cover the entire viewport */
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; 
    height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    opacity: 0;
    display: flex;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
}

.unique-page #slide2 {
    flex: 0 0 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    text-align: center;
    overflow: none;
}

 #slide2 button {
    margin-top: 25px;
    padding: 10px;
    cursor: pointer;
    background-color: teal;
    border: none;
    width: 100px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

#slide2 button:hover{
    background-color: rgb(0, 80, 80);
}

.body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
}

.message {
    width: fit-content;
    max-width: 500px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    text-align: left;
    margin-left: 8px;
    margin-right: auto;
    line-height: 18px;
    margin-top: 4px;
    padding: 8px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.message2 {
    width: fit-content;
    max-width: 500px;
    background-color: #ffffff;
    border: 0.2px solid rgb(123, 123, 123);
    color: #1d1d1d;
    border-radius: 8px;
    text-align: left;
    margin-left: auto;
    margin-right: 8px;
    line-height: 18px;
    margin-top: 4px;
    padding: 8px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.message2 .sender{
    color: teal;
    text-align: left;
}

.message:first-child {
    margin-top: 2px;
}

.message2:last-child {
    margin-bottom: 2px;
}

.sender {
    font-weight: bold;
    font-size: 11px;
}

.content {
    margin-top: 1px;
    font-size: 11px;
}

.message.show {
    opacity: 1;
    transform: translateY(0);
}

.message2.show {
    opacity: 1;
    transform: translateY(0);
}


/* MEDIA QUERIES!!!!!!!!! */

 @media only screen and (max-width: 320px) {
    body{
     height: 100%;
     max-width: 320px;
     overflow: auto;
     padding: 0px;
     margin: 0px;
    }

    img{
        display: none;
    }
    .Ncontainer{
       height: 100%;
       width: 320px;
       width: auto;
       height: auto;
       display: flex;
       justify-content: center;
       align-content: center;
       position: relative;
       overflow: hidden;
    }

    p{
    font-size: 14px;
    text-align: left;
    }

    .slide h1{
    font-size: 16px;
    text-align: left;
    }

    li{
    font-size: 14px;
    }

    button{
        font-size: 14px;
        width: 80px;
        padding: 8px;
    }

    .S-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 320px; 
        /* height: 100%; */
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }

    .P-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 320px; 
        /* height: 100%; */
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }
    
    .slide{
        flex: 0 0 100%;
        width: 320px;
        padding: 40px 20px 10px 20px;
        box-sizing: border-box;
        text-align: center;
        overflow: auto;
    }

    .slide ul li{
        text-align: left;
    }

    .professor{
        display: none;
    }

    .Nmenu{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: opacity 0.5s ease;
        visibility: hidden;
        overflow: hidden;
    }
    
    .Nmenu.active{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100vh;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        opacity: 1; 
        overflow: auto;
        visibility: visible;
    }
    
    .Nmenu ul{
        position: relative;
        padding: 50px 20px 50px 35px;
        margin: 0;

    }
    .Nmenu ul li{
        list-style: none;
    }
    .Nmenu ul li a{
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    .Nmenu ul li a:hover{
        color:teal
    }
    
    .Nmenu h1{
        text-align: left;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .Nmenu p{
        font-weight: 600;
        font-size: 16px;
        color: teal;
    }

    .Nnavbar {
        position: absolute;
        color: rgb(255, 255, 255);
        top: 0px;
        padding: 20px 20px;
        left: 0px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
    }

    .fas{
        color: black;
        font-size: 15px;
        animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
        cursor: pointer;
    }
    
    .fas.active::before {
        content: "\f00d"; /* Unicode for the "times" icon */
        font-family: 'Font Awesome 5 Free';
        font-size: 15px;
        cursor: pointer;
    }

    /* trial */
    .unique-page .S-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 320px; 
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }
    
    .unique-page #slide2 {
        flex: 0 0 100%;
        padding: 50px 15px;
        box-sizing: border-box;
        text-align: center;
        overflow: none;
    }
  
     #slide2 button {
        margin-top: 25px;
        padding: 8px;
        cursor: pointer;
        background-color: teal;
        border: none;
        width: 80px;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }
    
    #slide2 button:hover{
        background-color: rgb(0, 80, 80);
    }
    
    .body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    
    .chat-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }
    
    .message {
        width: fit-content;
        max-width: 300px;
        background-color: teal;
        color: white;
        border-radius: 8px;
        text-align: left;
        margin-left: 0px;
        margin-right: auto;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 {
        width: fit-content;
        max-width: 300px;
        background-color: #ffffff;
        border: 0.2px solid rgb(123, 123, 123);
        color: #1d1d1d;
        border-radius: 8px;
        text-align: left;
        margin-left: auto;
        margin-right: 0px;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 .sender{
        color: teal;
        text-align: left;
    }
    
    .message:first-child {
        margin-top: 2px;
    }
    
    .message2:last-child {
        margin-bottom: 2px;
    }
    
    .sender {
        font-weight: bold;
        font-size: 9px;
    }
    
    .content {
        margin-top: 1px;
        font-size: 9px;
    }
    
    .message.show {
        opacity: 1;
        transform: translateY(0);
    }
    
    .message2.show {
        opacity: 1;
        transform: translateY(0);
    }
    

 }
/* 37555555555555 MEDDDDDDIIIIAAAAAAAAA QUERY */

 @media only screen and (max-width: 375px) {
    body{
     height: 100%;
     max-width: 100%;
     overflow: auto;
     padding: 0px;
     margin: 0px;
    }

    img{
        display: none;
    }
    .Ncontainer{
       height: 100%;
       width: 375px;
       width: auto;
       height: auto;
       display: flex;
       justify-content: center;
       align-content: center;
       position: relative;
       overflow: hidden;
    }

    p{
    font-size: 14px;
    text-align: left;
    }

    .slide h1{
    font-size: 16px;
    text-align: left;
    }

    li{
    font-size: 14px;
    }

    button{
        font-size: 14px;
        width: 80px;
        padding: 8px;
    }

    .S-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 375px; 
        /* height: 100%; */
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }

    .P-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 375px; 
        /* height: 100%; */
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }
    
    .slide{
        flex: 0 0 100%;
        width: 375px;
        padding: 40px 20px 10px 20px;
        box-sizing: border-box;
        text-align: center;
        overflow: auto;
    }

    .slide ul li{
        text-align: left;
    }

    .professor{
        display: none;
    }

    .Nmenu{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: opacity 0.5s ease;
        visibility: hidden;
        overflow: hidden;
    }
    
    .Nmenu.active{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100vh;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        opacity: 1; 
        overflow: auto;
        visibility: visible;
    }
    
    .Nmenu ul{
        position: relative;
        padding: 50px 20px 50px 35px;
        margin: 0;

    }
    .Nmenu ul li{
        list-style: none;
    }
    .Nmenu ul li a{
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    .Nmenu ul li a:hover{
        color:teal
    }
    
    .Nmenu h1{
        text-align: left;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .Nmenu p{
        font-weight: 600;
        font-size: 16px;
        color: teal;
    }

    .Nnavbar {
        position: absolute;
        color: rgb(255, 255, 255);
        top: 0px;
        padding: 20px 20px;
        left: 0px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
    }

    .fas{
        color: black;
        font-size: 15px;
        animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
        cursor: pointer;
    }
    
    .fas.active::before {
        content: "\f00d"; /* Unicode for the "times" icon */
        font-family: 'Font Awesome 5 Free';
        font-size: 15px;
        cursor: pointer;
    }

    /* trial */
    .unique-page .S-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 375px; 
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }
    
    .unique-page #slide2 {
        flex: 0 0 100%;
        padding: 50px 15px;
        box-sizing: border-box;
        text-align: center;
        overflow: none;
    }
  
     #slide2 button {
        margin-top: 25px;
        padding: 8px;
        cursor: pointer;
        background-color: teal;
        border: none;
        width: 80px;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }
    
    #slide2 button:hover{
        background-color: rgb(0, 80, 80);
    }
    
    .body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    
    .chat-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }
    
    .message {
        width: fit-content;
        max-width: 300px;
        background-color: teal;
        color: white;
        border-radius: 8px;
        text-align: left;
        margin-left: 0px;
        margin-right: auto;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 {
        width: fit-content;
        max-width: 300px;
        background-color: #ffffff;
        border: 0.2px solid rgb(123, 123, 123);
        color: #1d1d1d;
        border-radius: 8px;
        text-align: left;
        margin-left: auto;
        margin-right: 0px;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 .sender{
        color: teal;
        text-align: left;
    }
    
    .message:first-child {
        margin-top: 2px;
    }
    
    .message2:last-child {
        margin-bottom: 2px;
    }
    
    .sender {
        font-weight: bold;
        font-size: 9px;
    }
    
    .content {
        margin-top: 1px;
        font-size: 9px;
    }
    
    .message.show {
        opacity: 1;
        transform: translateY(0);
    }
    
    .message2.show {
        opacity: 1;
        transform: translateY(0);
    }
    

 }

/* NEWWWWWWWWWWWWKWWWWWWW */

@media only screen and (max-width: 425px) {
    body{
     height: 100%;
     max-width: 425px;
     overflow: auto;
     padding: 0px;
     margin: 0px;
    }

    img{
        display: none;
    }

    .Ncontainer{
        height: 100%;
        width: 425px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        overflow: hidden;
     }
 
     p{
     font-size: 14px;
     text-align: left;
     }
 
     .slide h1{
     font-size: 16px;
     text-align: left;
     }
 
     li{
     font-size: 14px;
     }
 
     button{
         font-size: 14px;
         width: 80px;
         padding: 8px;
     }
 
     .S-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 425px; 
         /* height: 100%; */
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
 
     .P-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 425px; 
         /* height: 100%; */
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
     
     .slide{
         flex: 0 0 100%;
         width: 426px;
         padding: 40px 20px 10px 20px;
         box-sizing: border-box;
         text-align: center;
         overflow: auto;
     }
 
     .slide ul li{
         text-align: left;
     }
 
     .professor{
         display: none;
     }
 
     .Nmenu{
         position: absolute;
         top: 0;
         left: 0;
         width: 320px;
         height: 100%;
         padding-top: 60px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: rgba(255, 255, 255, 0.9);
         opacity: 0;
         transition: opacity 0.5s ease;
         visibility: hidden;
         overflow: hidden;
     }
     
     .Nmenu.active{
         position: absolute;
         top: 0;
         left: 0;
         width: 320px;
         height: 100vh;
         margin-top: 40px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: rgba(255, 255, 255, 0.9);
         border-radius: 10px;
         opacity: 1; 
         overflow: auto;
         visibility: visible;
     }
     
     .Nmenu ul{
         position: relative;
         padding: 50px 20px 50px 35px;
         margin: 0;
 
     }
     .Nmenu ul li{
         list-style: none;
     }
     .Nmenu ul li a{
         text-decoration: none;
         font-size: 15px;
         color: black;
     }
     .Nmenu ul li a:hover{
         color:teal
     }
     
     .Nmenu h1{
         text-align: left;
         font-size: 16px;
         margin-bottom: 5px;
     }
     
     .Nmenu p{
         font-weight: 600;
         font-size: 16px;
         color: teal;
     }
 
     .Nnavbar {
         position: absolute;
         color: rgb(255, 255, 255);
         top: 0px;
         padding: 20px 20px;
         left: 0px;
         background-repeat: no-repeat;
         background-position: center;
         z-index: 2;
     }
 
     .fas{
         color: black;
         font-size: 15px;
         animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
         cursor: pointer;
     }
     
     .fas.active::before {
         content: "\f00d"; /* Unicode for the "times" icon */
         font-family: 'Font Awesome 5 Free';
         font-size: 15px;
         cursor: pointer;
     }
 
     /* trial */
     .unique-page .S-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 375px; 
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
     
     .unique-page #slide2 {
         flex: 0 0 100%;
         padding: 50px 15px;
         box-sizing: border-box;
         text-align: center;
         overflow: none;
     }
   
      #slide2 button {
         margin-top: 25px;
         padding: 8px;
         cursor: pointer;
         background-color: teal;
         border: none;
         width: 80px;
         color: white;
         border-radius: 5px;
         font-size: 14px;
     }
     
     #slide2 button:hover{
         background-color: rgb(0, 80, 80);
     }
     
     .body {
         margin: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         font-family: 'Poppins', sans-serif;
     }
     
     .chat-container {
         display: flex;
         flex-direction: column;
         border-radius: 10px;
         width: 100%;
     }
     
     .message {
         width: fit-content;
         max-width: 300px;
         background-color: teal;
         color: white;
         border-radius: 8px;
         text-align: left;
         margin-left: 0px;
         margin-right: auto;
         line-height: 18px;
         margin-top: 4px;
         padding: 8px;
         opacity: 0;
         transform: translateY(30px);
         transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
     }
     
     .message2 {
         width: fit-content;
         max-width: 300px;
         background-color: #ffffff;
         border: 0.2px solid rgb(123, 123, 123);
         color: #1d1d1d;
         border-radius: 8px;
         text-align: left;
         margin-left: auto;
         margin-right: 0px;
         line-height: 18px;
         margin-top: 4px;
         padding: 8px;
         opacity: 0;
         transform: translateY(40px);
         transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
     }
     
     .message2 .sender{
         color: teal;
         text-align: left;
     }
     
     .message:first-child {
         margin-top: 2px;
     }
     
     .message2:last-child {
         margin-bottom: 2px;
     }
     
     .sender {
         font-weight: bold;
         font-size: 9px;
     }
     
     .content {
         margin-top: 1px;
         font-size: 9px;
     }
     
     .message.show {
         opacity: 1;
         transform: translateY(0);
     }
     
     .message2.show {
         opacity: 1;
         transform: translateY(0);
     }
     
 
  }


  @media only screen and (max-width: 768px) {
    body{
     height: 100%;
     max-width: 768px;
     overflow: hidden;
     padding: 0px;
     margin: 0px;
    }

    img{
        display: none;
    }

    .Ncontainer{
        height: 100%;
        width: 668px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        overflow: hidden;
     }
 
     p{
     font-size: 14px;
     text-align: left;
     }
 
     .slide h1{
     font-size: 16px;
     text-align: left;
     }
 
     li{
     font-size: 14px;
     }
 
     button{
         font-size: 14px;
         width: 80px;
         padding: 8px;
     }
 
     .S-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 668px; 
         /* height: 100%; */
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
 
     .P-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 668px; 
         /* height: 100%; */
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
     
     .slide{
         flex: 0 0 100%;
         width: 568px;
         padding: 40px 20px 10px 20px;
         box-sizing: border-box;
         text-align: center;
         overflow: auto;
     }
 
     .slide ul li{
         text-align: left;
     }

    .professor{
        display: none;
    }

    .Nmenu{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: opacity 0.5s ease;
        visibility: hidden;
        overflow: hidden;
    }
    
    .Nmenu.active{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        opacity: 1; 
        overflow: auto;
        visibility: visible;
    }
    
    .Nmenu ul{
        position: relative;
        padding: 80px 20px 50px 35px;
        margin-bottom: auto;

    }
    .Nmenu ul li{
        list-style: none;
    }
    .Nmenu ul li a{
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    .Nmenu ul li a:hover{
        color:teal
    }
    
    .Nmenu h1{
        text-align: left;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .Nmenu p{
        font-weight: 600;
        font-size: 16px;
        color: teal;
    }

    .Nnavbar {
        position: absolute;
        color: rgb(255, 255, 255);
        top: 0px;
        padding: 20px 20px;
        left: 0px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
    }

    .fas{
        color: black;
        font-size: 20px;
        animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
        cursor: pointer;
    }
    
    .fas.active::before {
        content: "\f00d"; /* Unicode for the "times" icon */
        font-family: 'Font Awesome 5 Free';
        font-size: 20px;
        cursor: pointer;
    }


    .unique-page .S-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 768px; 
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }
    
    .unique-page #slide2 {
        flex: 0 0 100%;
        padding: 50px 15px;
        box-sizing: border-box;
        text-align: center;
        overflow: none;
    }
  
     #slide2 button {
        margin-top: 25px;
        padding: 8px;
        cursor: pointer;
        background-color: teal;
        border: none;
        width: 80px;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }
    
    #slide2 button:hover{
        background-color: rgb(0, 80, 80);
    }
    
    .body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    
    .chat-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }
    
    .message {
        width: fit-content;
        max-width: 300px;
        background-color: teal;
        color: white;
        border-radius: 8px;
        text-align: left;
        margin-left: 0px;
        margin-right: auto;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 {
        width: fit-content;
        max-width: 300px;
        background-color: #ffffff;
        border: 0.2px solid rgb(123, 123, 123);
        color: #1d1d1d;
        border-radius: 8px;
        text-align: left;
        margin-left: auto;
        margin-right: 0px;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 .sender{
        color: teal;
        text-align: left;
    }
    
    .message:first-child {
        margin-top: 2px;
    }
    
    .message2:last-child {
        margin-bottom: 2px;
    }
    
    .sender {
        font-weight: bold;
        font-size: 9px;
    }
    
    .content {
        margin-top: 1px;
        font-size: 9px;
    }
    
    .message.show {
        opacity: 1;
        transform: translateY(0);
    }
    
    .message2.show {
        opacity: 1;
        transform: translateY(0);
    }
    

 }


 @media only screen and (max-width: 1024px) {
    body{
     height: 100%;
     max-width: 1024px;
     overflow: hidden;
     padding: 0px;
     margin: 0px;
    }

    img{
        height: 100vh;
        width: 60%;
    }

    .Ncontainer{
        height: 100%;
        width: 50%;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        overflow: hidden;
     }
 
     p{
     font-size: 14px;
     text-align: left;
     }
 
     .slide h1{
     font-size: 16px;
     text-align: left;
     }
 
     li{
     font-size: 14px;
     }
 
     button{
         font-size: 14px;
         width: 80px;
         padding: 8px;
     }
 
     .S-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 800px; 
         /* height: 100%; */
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
 
     .P-intro-box {
         position: relative; /* Change to fixed position to cover the entire viewport */
         width: 800px; 
         /* height: 100%; */
         text-align: center;
         background-color: rgba(255, 255, 255, 0.9);
         padding: 20px;
         margin: 0px;
         border-radius: 10px;
         font-size: 18px;
         font-weight: 800;
         opacity: 0;
         display: flex;
         overflow: none;
         animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
     }
     
     .slide{
         flex: 0 0 100%;
         width: 800px;
         padding: 40px 20px 10px 20px;
         box-sizing: border-box;
         text-align: center;
         overflow: auto;
     }
 
     .slide ul li{
         text-align: left;
     }

    .professor{
        display: none;
    }

    .Nmenu{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        transition: opacity 0.5s ease;
        visibility: hidden;
        overflow: hidden;
    }
    
    .Nmenu.active{
        position: absolute;
        top: 0;
        left: 0;
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        opacity: 1; 
        overflow: auto;
        visibility: visible;
    }
    
    .Nmenu ul{
        position: relative;
        padding: 80px 20px 50px 35px;
        margin-bottom: auto;

    }
    .Nmenu ul li{
        list-style: none;
    }
    .Nmenu ul li a{
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    .Nmenu ul li a:hover{
        color:teal
    }
    
    .Nmenu h1{
        text-align: left;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .Nmenu p{
        font-weight: 600;
        font-size: 16px;
        color: teal;
    }

    .Nnavbar {
        position: absolute;
        color: rgb(255, 255, 255);
        top: 0px;
        padding: 20px 20px;
        left: 0px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
    }

    .fas{
        color: black;
        font-size: 20px;
        animation: fadeIn 1s ease-in-out 0.5s forwards; /* Delay the animation for 2 seconds */
        cursor: pointer;
    }
    
    .fas.active::before {
        content: "\f00d"; /* Unicode for the "times" icon */
        font-family: 'Font Awesome 5 Free';
        font-size: 20px;
        cursor: pointer;
    }


    .unique-page .S-intro-box {
        position: relative; /* Change to fixed position to cover the entire viewport */
        width: 800px; 
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        margin: 0px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 800;
        opacity: 0;
        display: flex;
        overflow: none;
        animation: fadeIn 0.5s ease-in-out 1s forwards; /* Delay the animation for 1 second */
    }
    
    .unique-page #slide2 {
        flex: 0 0 100%;
        padding: 50px 15px;
        box-sizing: border-box;
        text-align: center;
        overflow: none;
    }
  
     #slide2 button {
        margin-top: 25px;
        padding: 8px;
        cursor: pointer;
        background-color: teal;
        border: none;
        width: 80px;
        color: white;
        border-radius: 5px;
        font-size: 14px;
    }
    
    #slide2 button:hover{
        background-color: rgb(0, 80, 80);
    }
    
    .body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    
    .chat-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }
    
    .message {
        width: fit-content;
        max-width: 300px;
        background-color: teal;
        color: white;
        border-radius: 8px;
        text-align: left;
        margin-left: 0px;
        margin-right: auto;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 {
        width: fit-content;
        max-width: 300px;
        background-color: #ffffff;
        border: 0.2px solid rgb(123, 123, 123);
        color: #1d1d1d;
        border-radius: 8px;
        text-align: left;
        margin-left: auto;
        margin-right: 0px;
        line-height: 18px;
        margin-top: 4px;
        padding: 8px;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    
    .message2 .sender{
        color: teal;
        text-align: left;
    }
    
    .message:first-child {
        margin-top: 2px;
    }
    
    .message2:last-child {
        margin-bottom: 2px;
    }
    
    .sender {
        font-weight: bold;
        font-size: 9px;
    }
    
    .content {
        margin-top: 1px;
        font-size: 9px;
    }
    
    .message.show {
        opacity: 1;
        transform: translateY(0);
    }
    
    .message2.show {
        opacity: 1;
        transform: translateY(0);
    }
    

 }



